<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/lib/bootstrap-4.4.1-dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Home.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/lib/fontawesome-free-5.13.0-web/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet"> 
  <script async src="/scripts/lib/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script defer src="/stylesheets/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script defer type="text/javascript" src="/scripts/main.js"></script>


<body>
  <nav id="mainNavbar" class="navbar navbar sticky-top navbar-expand-lg navbar-light px-5 ">
    <a class="navbar-brand" href="/admin"><img src="/images/Capture.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </nav>


<div>
  <div class="row">
     <div class="col-md-3">
      <nav class="sidebar">
        <ul class="navlinks" style="margin-top: 5em;">
            <li class="nav-item">
             <a class="nav-link" href="/admin"><i class="fas fa-chart-line mr-3"></i>Dashboard</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/admin/support"><i class="fas fa-clipboard mr-3"></i>Support tickets</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/admin/request/new-connection"><i class="fas fa-wifi mr-3"></i>Connection requests</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/users"><i class="fas fa-users mr-3"></i>Customers</a>
            </li>
        </ul>
     </nav>
     </div>
  </div>
</div>

 