<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Home.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet"> 
</head>

<body>
  <nav id="mainNavbar" class="navbar navbar sticky-top navbar-expand-lg navbar-light bg-light px-5 ">
    <a class="navbar-brand" href="/home"><img src="/images/Capture.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/new-connection/new">New connection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/support/new">Support</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="#" class="btn btn-outline-danger btn-sm "><i class="fas fa-user"></i> Login</a>
        <a href="#" class="btn btn-outline-danger btn-sm ml-2 "><i class="fas fa-user-plus"></i> Sign Up</a>
      </form>
    </div>
  </nav>