<title>Home</title>
<%- include('partials/header.ejs'); -%>
</head>
<!--sliders-->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <i class="fas fa-circle active test" data-target="#carouselExampleIndicators" data-slide-to="0"></i>
    <i class="fas fa-circle test" data-target="#carouselExampleIndicators" data-slide-to="1"></i>
    <i class="fas fa-circle test" data-target="#carouselExampleIndicators" data-slide-to="2"></i>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="#">
        <img class="d-block w-100 h-55" src="images\Capture2.jpg" alt="First slide" href="#">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img class="d-block w-100 h-55" src="images\Capture3.jpg" alt="Second slide" href="#">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img class="d-block w-100 h-55" src="images\Capture11.jpg" alt="Third slide" href="#">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev justify-content-start test1" href="#carouselExampleIndicators" role="button"
    data-slide="prev">
    <div class="slider-icon">
      <i class="fas fa-chevron-left"></i>
    </div>
  </a>
  <a class="carousel-control-next justify-content-end test1" href="#carouselExampleIndicators" role="button"
    data-slide="next">
    <div class="slider-icon">
      <i class="fas fa-chevron-right"></i>
    </div>
  </a>
</div>

<!--body get started-->

<div class="container-fluid p-0">
  <div class="get-started">
    <h4>Get Started</h4>
    <div class="controls">
      <input type="text" name="" id="" placeholder="Enter your location"><button>Search</button>
    </div>
  </div>
</div>
</div>

<!--body broadband plans-->
<div class="container">
  <h3 class="Bband">Broadband Plans</h3>
</div>
<!--plans-->
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-lg-4">
      <div class="card text-center">
        <div class="card body">
          <h4 class="py-3 px-3 text-center">ABP Swift</h4>
          <p><i class="fas fa-bolt icon"></i>50Mbps Speed</p>
          <p><i class="fas fa-wifi icon"></i>200 GB Data</p>
          <p><i class="fas fa-tachometer-alt icon"></i>5 Mbps Post FUP</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4">
      <div class="card text-center">
        <div class="card body">
          <h4 class="py-3 px-3 text-center">ABP Rapid Plus</h4>
          <p><i class="fas fa-bolt icon"></i>150 Mbps Speed</p>
          <p><i class="fas fa-wifi icon"></i>300 GB Data</p>
          <p><i class="fas fa-tachometer-alt icon"></i>1 Mbps Post FUP</p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4">
      <div class="card text-center">
        <div class="card body">
          <h4 class="py-3 px-3 text-center">ABP Storm</h4>
          <p><i class="fas fa-bolt icon"></i>150 Mbps Speed</p>
          <p><i class="fas fa-wifi icon"></i>500 GB Data</p>
          <p><i class="fas fa-tachometer-alt icon"></i>1 Mbps Post FUP</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="text-center plansBtn">
  <a href="/plans" class="btn btn-danger">View All Plans</a>
</div>
<h2 class="text-center Bband mt-5">Routers</h2>
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-lg-4">
      <div class="card">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7ZAmUcKo6W4xTIHYVzvRCEGOg9M2CqGcKh0ZG8ro1iVySGM4J"
          class="card-img-top" alt="...">
        <div class="card-header text-center">
          <h4>T1 Router</h4>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4">
      <div class="card">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7ZAmUcKo6W4xTIHYVzvRCEGOg9M2CqGcKh0ZG8ro1iVySGM4J"
          class="card-img-top" alt="...">
        <div class="card-header text-center">
          <h4>T1 Router</h4>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4">
      <div class="card">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7ZAmUcKo6W4xTIHYVzvRCEGOg9M2CqGcKh0ZG8ro1iVySGM4J"
          class="card-img-top" alt="...">
        <div class="card-header text-center">
          <h4>T1 Router</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-3"><a href="/routers" class="btn btn-danger">View all routers</a></div>


<section class="whatwedo mt-4">
  <h4 class="text-center mb-2" style="letter-spacing: 1px;font-weight: 400;text-transform: uppercase">What Service Do We
    Offer ?</h4>
  <hr id="hr" class="mb-3">
  <p class="text-center"><strong>We offer 3 kinds of services</strong></p>
  <p>
  <h4 class="text-center">GOOD-CHEAP-FAST</h4>
  </p>
  <div class="container" style="max-width: 1800px;">
    <div class="row">
      <div class="card col-md-4">
        <div class="card-body text-center">
          <img src="/svgs/goodsvg.svg" alt="" style="width: 100%;height: max-content;">
          <h4 style="color: rgb(108, 101, 124);">GOOD AND CHEAP WON'T BE FAST</h4>
        </div>
      </div>
      <div class="card col-md-4">
        <div class="card-body text-center">
          <img src="/svgs/fastsvg.svg" alt="" style="width: 100%;height: max-content;">
          <h4 style="color: rgb(108, 101, 124);">FAST AND GOOD WON'T BE CHEAP</h4>
        </div>
      </div>
      <div class="card col-md-4">
        <div class="card-body text-center">
          <img src="/svgs/cheapsvg.svg" alt="" style="width: 100%;height: max-content;">
          <h4 style="color: rgb(108, 101, 124);">CHEAP AND FAST WON'T BE GOOD</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5 faq">
  <h4>
    FAQ
  </h4>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-title faqtitle">
          <h5>How to apply for a connection ?</h5>
          <button class="faq-open"><i class="fas fa-plus faq-plus "></i></button>
        </div>
        <div class="faq-answer" style="display: none;">
          <p>Please sign-up with your name and email id .After signing up please navigate to "New Connection" and fill
            in all
            the details,and our team will get in contact with you</p>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-title faqtitle">
          <h5>How to pay monthly due ?</h5>
          <button class="faq-open"><i class="fas fa-plus faq-plus"></i></button>
        </div>
        <div class="faq-answer" style="display: none;">
          <p>Please navigate to your profile by clicking on your name in the right-side top corner.If your monthly due
            isn't
            cleared.You can view your monthly due inside your profile.Payment can be made through our payment partner
            RazorPay
            with thier multi-featured payment methods</p>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-title faqtitle">
          <h5>How to apply for two connections ?</h5>
          <button class="faq-open"><i class="fas fa-plus faq-plus "></i></button>
        </div>
        <div class="faq-answer" style="display: none;">
          <p>At the moment we only provide one connection per user.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-title faqtitle">
          <h5>How to raise a support ticket ?</h5>
          <button class="faq-open"><i class="fas fa-plus faq-plus "></i></button>
        </div>
        <div class="faq-answer" style="display: none;">
          <p>Navigate to 'support' in the navbar and select the issue and please provide extra information in the
            description
            box.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="pagefooter">
  <i class="far fa-copyright mr-2"></i>Created by SAI DARSHAN.
</footer>


<%- include('partials/footer.ejs'); -%>