<%- include("partials/header.ejs"); %>

<h4 class="text-center plansH">New connection</h4>
<hr id="hr">

<div class="container newconcontainer">
    <form action="/admin/request/new-connection" method="POST" class="mt-1 newconform" style="width:50rem;height:75vh" > 
        <div class="form-group">
            <label><strong>Name</strong></label>
            <input class="form-control" type="text" name="newcon[name]" placeholder="Enter your name" id="newconname" value="<%= currentUser.name %>">       
          </div>
        <div class="form-group">
           <label><strong>Phone Number</strong></label>
            <input class="form-control reqfield" type="tel" name="newcon[phone]" placeholder="Enter your 10-digit phone number" id="newconphone" maxlength="10">
          </div>
        <div class="form-group">
          <label><strong>Plan</strong></label>
            <select class="form-control reqfield" name="newcon[plan]" style="color: #6c757d;" id="newconplan">
                <option value="">Pick a plan</option>
                <option value="ACT Swift">ACT Swift</option>
                <option value="ACT Rapid Plus">ACT Rapid Plus</option>
                <option value="ACT Storm">ACT Storm</option>
                <option value="ACT Lighting">ACT Lighting</option>
              </select>
        </div>
        <div  class="form-group">
          <label><strong>Address</strong></label>
            <input class="form-control reqfield" type="text" name="newcon[address]" placeholder="Address lane" id="newconaddress">
          </div>
        <div class="form-group">
          <label><strong>Locality</strong></label>
          <input class="form-control reqfield" type="text" name="newcon[locality]" placeholder="Locality" id="newconlocality">
        </div>
        <div lass="form-group">
          <label><strong>E-mail address</strong></label>  
          <input class="form-control" type="email" name="newcon[email]" placeholder="johdoe@example.com" id="newconemail" value="<%= currentUser.email %>">
          </div> 
        <div class="text-center">
          <input type="submit" class="btn btn-outline-danger mt-3" value="Submit">
        </div>  
      </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Router Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         Request for new connection received,Our team will get in contact with you very soon.
      </div>
      <div class="modal-footer">
          <a href="/home" class="btn btn-outline-danger">OK</a>
      </div>
    </div>
  </div>
</div>
</form>

<script>
  function activatePlacesSearch(){
    var input=document.getElementById("newconlocality");
    var autocomplete=new google.maps.places.Autocomplete(input);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD27OCfERJWk0dd1ziqQ05mu0eHdvuickI&libraries=places&callback=activatePlacesSearch"></script>
<%- include("partials/footer.ejs"); %>