<%- include("partials/header.ejs"); %>

<h4 class="text-center plansH">Sign Up</h4>
<hr id="hr">

<div class="container newconcontainer">
    <form action="/register" method="POST" class="text-center" style="width:50rem;height:70vh" >
        <div class="form-group">
            <input  class="form-control" type="text" name="name" placeholder="name">
        </div> 
        <div>
            <input class="form-control" type="text" name="email" placeholder="Enter your e-mail id" id="newconemail">
        </div> 
        <div class="form-group">
            <input  class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <button class="btn btn-outline-danger" href="">Sign Up</button>
      </form>
</div>
<%- include("partials/footer.ejs"); %>