*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}




.Bband {
	color: red;
	margin: 20px 20px;
	text-align: center;
	font-weight: 700;
}


.iconer {
	margin-bottom: 2rem;
}
ul {
	list-style: none;
	margin: 0;
}
h4 {
	font-weight: bolder;
}
h1 {
	font-weight: 700;
}
.plansH {
	color: #ea1c2c;
}
.profilecard .card-img-top{
	height: 250px;
	width: 100%;
	border-radius: 70%;
	border: 1px solid #6c757d33;
}

.profilecard{
	padding: 20px 25px;
	width: 20em;
}
.profilecard .card-header{
	border: none;
}
.editbtn{
	position: absolute;
}
.showplan {
	height: 70vh;
	display: flex;
	align-items: center;
}
.showplan a {
	color: black;
}
.showplan1 a:hover {
	color: black;
}

.list-group-item a:hover {
	color: #ea1c2c;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: white;
	background-color: #ea1c2c;
}
.displaymonth {
	display: none;
}
.routershow{
	padding: 5px 50px;
	align-items: baseline;
	display: flex;
	justify-content: space-around;
	height: 80vh;
}
.routerlist li{
	margin-bottom: 20px;
}
.routerlist{
	margin-left: 20px;
	list-style-type: disc;
}
.routerbuynw{
	position: absolute;
	align-self: flex-end;
	justify-self: flex-end;
}
.routername h4{
	color: #ea1c2c;
}
.newconreqcontainer{
  padding-top: 50px;
}
.newconreqcontainer h3{
	font-size: 1.35rem;
}
.newconcard{
	margin-bottom: 30px;
	border-left:5px solid #ea1c2c ;
	padding: 10px 30px;
}
.newconfooter{
	display: flex;
    justify-content: space-between;
	padding: .75rem .25rem;
	font-size: .9rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
}

.newconfooter .time{
	color:#707070;
}
.newconreqcontainer{
	padding-top: 50px ;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ea1c2c; ;
    border-color:  #ea1c2c;;
}
.list-group-item{
	cursor: pointer;
}
.inputs input[type="text"]{
	width: 70%;
}
#map{
	height: 400px;
	width:100%;
}
.inputs{
	padding-top: 50px;
}
.AceeptDeclineBTN{
	margin-top: 20px;
	display: flex;
	padding-left:200px;
}
.Rimage{
	margin-top: 50px;
	height: 40vh;
}

#v-pills-home-tab {
	height: 3rem;
	display: flex;
	align-items: center;
}

.planselect {
	background-color: #ea1c2c;
}

a:hover {
	text-decoration: none;
}

.icon {
	margin-right: 10px;
	color: #ea1c2c;
	padding-bottom: 20px;
	font-size: large;
}

#hr {
	margin: 0 auto;
	width: 20%;
	height: 1;
	background: #ea1c2c;
}
#hr1 {
	margin-left: 21em;
	width: 20%;
	height: 1;
	background: #ea1c2c;
}
.plansD{
	color: #ea1c2c;
	margin-left: 15em;
}
.dashcard{
	margin-top: 40px;
	height: 20em;
}
.dashcard .card-body h4{
	font-size: 3rem;
}
.dashcontainer{
	margin-left: 25em;
	max-width: 100em;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.svg{
	margin-left: 4rem;
	margin-top: 0;
	width: 104em;
	display:flex;
	justify-content: space-between;
}

.card-body {
	padding: 10px 25px;
}
.card{
	filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.521));
	background-color: white;
}
.card-header{
	background-color: white;
}
.card-footer{
	background-color: white;
}

.statuscard{
	display: none;
	margin-left: 45.5em;
	position: absolute;
	margin-top: 50px;
}
.statuscard .card-title{
	padding: 10px 10px;
	text-align: center;
	margin-bottom: 0;
}
.statuscard select{
  border: none;
  font-size: .9rem;
  height: 20px;
}
#statusselect{
	height: 20px;
}

.newconcontainer{
	height: 80vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.newconcontainer input[type="text"]{
   width: 100%;
}
.supportcontainer{
	margin-bottom: 0;
	padding: 50px 30px;
	max-width: 92vw;
	height: 26em;
}
#supporttxtA{
	margin-left:10px ;
	width: 98%;
	height: 30%;
}
/* .supportcontainer textarea:focus{
	border:1px solid rgba(255, 1, 1,0.185);
	box-shadow: 0 0 0 .2rem rgba(255, 1, 1, 0.363);
} */
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.supportcontainer textarea{
	padding: 10px 10px;
}
.cameraicon{
position: relative;
cursor: pointer;
left: 6.2em;
bottom: 7.5em;
color: red;
z-index: 10;
background: white;
width: 55px;
padding: 10px;
border-radius: 90%;
border: 1px solid rgba(128, 128, 128, 0.301);
}


.profilecardname::first-letter{
	text-transform: capitalize;
}
.profilecardname{
	font-size: large;
}
.editsuccess{
	color: green;
	font-size:.9rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
	display: none;
}
.supportcontainer select{
	height: 50px;
}
.ticketheader{
	display: flex;
	justify-content: space-between;
	border-bottom: none;
}
.optionsbtn{
	cursor: pointer;
	color:#6c757d;
}
.deletediv{
	position: absolute;
    margin-left: 43em;
}
.deletelbl{
	border: 1px solid #6c757d73;
	border-radius: 7%;
	padding: 5px 10px;
	background-color: white;
	cursor: pointer;
	display: none;
	width: 13%;
	margin-left:15px ;
	position: absolute;
}
.userticketfilter{
	display: none;
}
.deletelbl:hover{
	background-color: red;
	color: white;
}
.signupform{
	padding: 50px 30px;
	background-color: rgba(243, 243, 243, 0.329);
	border-radius: 3%;
	border: 1px solid rgb(243, 243, 243);;
}

.loginform{
	margin-top: 150px;
	padding: 50px 30px;
	height: 50vh;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	background-color: rgba(243, 243, 243, 0.329);
	width: 38em;
	border-radius: 3%;
	border: 1px solid rgb(243, 243, 243)
	
}
.forgot{
	font-size:1rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
	color:#707070;
}
.ticketfooter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: .8rem;
	border-top: 0;
}
.ticketfooter .time {
	color:#707070;
}
.adminsupporticket .time{
	font-size:.9rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
	color:#707070;
}
.ticketfooter p{
   font-size:.9rem;
   font-family: 'Baloo 2', cursive;
   font-weight: 700;
}
.ticketcard{
	border-left: 3px solid red;
	margin-bottom: 30px;
}
.adminsupporticket {
	border-left: 3px solid #ea1c2c;
	margin-bottom: 30px; 
}
.ticketcontainer1{
	padding-top: 45px;
}
.adminsupporticket .card-footer p{
	font-size: .8rem;
	display: flex;
	 flex-direction: row; 
     justify-content: space-between; 
	 width: 21em;
}
.status{
	font-size:.9rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
}
.colorP{
	color: #ff2323;
}
.colorS{
	color: rgb(0, 170, 37);
}
#svg2{
	display: flex;
	justify-content: flex-end;
}
.svgimg{
	margin-right: 10%;
}
.createduser{
	font-size:.9rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
}
.showticketcontainer{
	padding-top: 50px;
}
.adminsupporticket .card-footer{
	display: flex;
	justify-content: space-between;
}
/* .newconcontainer input[type="text"]:focus{
	border-color: rgba(255, 0, 0, 0.349);
	box-shadow: 0 0 0 .2rem rgba(255, 1, 1, 0.185);
}
.newconcontainer input[type="email"]:focus{
	border-color: rgba(255, 0, 0, 0.349);
	box-shadow: 0 0 0 .2rem rgba(255, 1, 1, 0.185);
}
.newconcontainer select:focus{
	border-color: rgba(255, 0, 0, 0.349);
	box-shadow: 0 0 0 .2rem rgba(255, 1, 1, 0.185);
} */
.realticket{
	margin-left: 9em;
}
.userviewticket input{
	margin-bottom: 20px;
}
.gobackbtn{
	cursor: pointer;
}

.form-control{
	box-shadow: none;
}


#planTable {
	height: 100vh;
	display: flex;
	position: relative;
	width: 100%;
	top: 100px;
}
.tableplan {
	width: 100%;
	height: 55%;
	border: 1px solid #ea1c2c;
}

.plansBtn {
	margin: 20px 20px;
} 
.table td {
	padding: 1.75rem;
} 

#mainNavbar .nav-link:hover {
	color: #ea1c2c;
}



#mainNavbar{
	background-color: white;
}
#mainNavbar{
	margin-bottom: 40px;
}

.slider-icon {
	color: #ea1c2c;
	font-size: 50px;
	margin-left: 6px;
	margin-right: 6px;
}
.planarrow {
	margin-left: 45px;
	color: #cecaca;
	font-size: 25px;
}

.planarrow:hover {
	color: #ea1c2c;
}

body {
	/*font-family: 'Montserrat', sans-serif;*/
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Poppins', sans-serif;
}
.nav-link {
	font-weight: 600;
}
.test {
	margin-right: 6px;
	font-size: 8px;
	border: 2px solid #ea1c2c;
	border-radius: 100%;
	color: #dbdbdb;
}
i.test.active {
	color: #ea1c2c;
}
.test1 {
	width: 80px;
}

.getstarted {
	background-color: #ea1c2c;
	height: 200px;
	color: white;
}
.sidebar{
	width: 300px;
	padding:50px 20px;
	position:fixed ;
	display: flex;
	flex-direction: column;
	height: 100vh;
	border-right: 1px solid #6c757d33;
	z-index: 10;
	top:80px;
}
.sidebar .nav-link{
	margin-left: 10px;
	margin-bottom: 35px;
	color:#6c757d;

}
.sidebar .nav-link:hover{
	color:#ea1c2c;
}

#Gstart {
	text-align: center;
	padding-top: 20px;
	letter-spacing: 2px;
}

#Contype {
	margin: 0 auto;
	font-size: 25px;
	padding: 10px;
	text-align: center;
}
#HomeSpan {
	margin: 15px;
}

input[type="text"] {
	height: 50px;
	font-size: 14px;
	padding: 10px;
}

input[type="text"]:focus {
	outline: none;
}

#Ctypebtn {
	background: #ea1c2c;
	color: white;
	border: 2px solid white;
	border-radius: 10%;
	margin-left: 10px;
	margin-bottom: 2px;
	height: 50px;
	width: 90px;
}

#Ctypebtn:hover {
	background: white;
	color: #ea1c2c;
}

.signuppassword{
	height: 45px;
	font-size: 14px;
	padding: 10px;
	width: 100%
}
.loginpassword{
	height: 45px;
	font-size: 14px;
	padding: 10px;
	width: 100%
}
.signupemail{
	height: 45px;
	font-size: 14px;
	padding: 10px;
	width: 100%
}
#newconemail{
	height: 45px;
	font-size: 14px;
	padding: 10px;
	width: 100%
}
#newconphone{
	height: 45px;
	font-size: 14px;
	padding: 10px;
	width: 100%
}
.loginor{
	width:100%;
	font-size:.9rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
	color:#707070;
}
.invalid{
	border:2px solid red;
	box-shadow: none;
}
.invalid:focus{
	border:2px solid red;
	box-shadow: none;
}
.error{
	font-size:.9rem;
	font-family: 'Baloo 2', cursive;
	font-weight: 700;
	color:red
}
.billpaybtn{
	position: relative;
	top: -3em;
    right: -19em;
}
#rzp-button1{
 position: absolute;
 bottom:4em
}
.rentalabel{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 .svgp{
	 font-weight: 400;
	 color:rgba(255, 0, 0, 0.233)
 }
 .nothingtoshow{
	 display:none;
	 margin-top:150px;
	 position: fixed;
	 left:44em;
 }
.whatwedo{
	background-color:rgba(192, 192, 192, 0.158);
	padding: 2em;
}
.faq .card{
	padding: 20px;
	border: none;
	filter: none;
}

.faqtitle{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}


.faq h5{
	font-weight: 100;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.faq .faq-answer{
	text-transform: uppercase;
	font-family: 'Baloo 2', cursive;
	line-height: 2rem;
}
.pagefooter{
	background-color: red;
	color: white;
	height: 9vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
